@import '../helpers/variables';

body {
	font-family: 'Helvetica Neue', sans-serif;
}

h1, h2, h3, p {
    color: $font-color;
    font-weight: 600;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.5rem;
}

p {
    font-size: 0.75rem;
}