body {
	color: #444;
	font-family: 'Helvetica Neue','Times New Roman', Times, serif sans-serif;
}

h1, h2, h3, p {
    color: #2c2b2c;
    font-weight: 600;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.5rem;
}

p {
    font-size: 0.75rem;
}