body {
	color: #444;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #FFFFFF;
	font-size: 2em;
	font-weight: normal;
}

h2 {
    font-size: 1.5em;
    color: #FFFFFF;
}

h3 {
    font-size: 1.25em;
    color: #FFFFFF;
    margin: 0 0 0.75em;
}