.card {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin: 0 auto 1.25rem;
    padding: 1.25rem 1.25rem 0.875rem;
    width: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .details {
        align-items: center;
        margin-top: 1.25rem;
        display: flex;
        justify-content: space-between;

        span {
            font-size: 0.6875rem;
        }

        .card__members {
            display: flex;

            .card__members--item {
                align-items: center;
                background-color: #f6b12c;
                display: flex;
                font-size: 0.625rem;
                height: 1.5rem;
                justify-content: center;
                margin: 0 0 0 0.625rem;
                width: 1.5rem;
            }
        }
    }
}

.card:nth-last-child(1) {
    margin: 0 auto;
}

.card:hover {
    background-color: #f5f8ff
}